<div class="restaurant-list mat-elevation-z8">
  <mat-card>
    <div class="header-container">
      <mat-card-title>Restaurant List</mat-card-title>
      <button mat-raised-button color="primary" routerLink="/restaurants/add" class="add-restaurant-btn">
        Add Restaurant
      </button>
    </div>
    <mat-card-content>
      <div
        *ngFor="let restaurant of displayedRestaurants"
        class="restaurant-item mat-elevation-z2"
      >
        <mat-card>
          <mat-card-title class="restaurant-name">
            {{ restaurant.name }}
          </mat-card-title>
          <mat-card-content>
            <p>Description: {{ restaurant.description }}</p>
            <p>Location: {{ restaurant.location }}</p>
            <p>Contact Number: {{ restaurant.phoneNumber }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="accent"
              routerLink="/restaurants/edit/{{ restaurant.id }}"
            >
              Edit
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteRestaurant(restaurant.id!)"
            >
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15]"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
